/* Root Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: auto;
}

body {
    font-family: 'RR';
}

/* Root End */


/* Header Start */
.header {
    margin-bottom: 90px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 45px 20px;
    position: relative;

}

.header__logo {
    object-fit: cover;
    position: absolute;
    left: 45%;

}

.header__menu {
    display: flex;
    max-width: 450px;
    width: 100%;
    justify-content: space-between;
}


.header__menu-link {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1.575px;
    text-transform: uppercase;
    color: #56593D;
}

.header__icons {
    display: flex;
    column-gap: 21px;
}

.header__icon-link{
    color: black;
}

.header__icon {
    font-size: 32px;
}


.header__content-img {
    width: 100%;
}

.header__content-text {
    margin-top: 110px;
    font-size: 57px;
    line-height: 81px;
    text-align: center;
    color: #56593D;
    margin-bottom: 25px;
}

.header__content-transitions {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 93px;
}

.header__transition {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #56593D;
    text-decoration: underline;
}



/* Header End */


/* Main Start */

.main__MBCollection{
    background: #FFFFEF;
    margin-bottom: 39px;
}

.main__block {
    padding-top: 63px;
    padding-bottom: 80px;
    border-radius: 0px;
    margin: 0 32px;
}

.main__MBCollection-title {
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #56593D;
}

.main__block-item {
    max-width: 411px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main__block__item-title {
    font-size: 16px;
    line-height: 22px;
    color: #56593D;
    margin-top: 15px;
    margin-bottom: 7px;
}

.main__MBCollection-block {
    display: flex;
    gap: 32px;
}

.main__block_item-price {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.62px;
    color: #717353
}

.main__theEssentials {
    background: #FFFFEF;
}

.main__theEssentials-block {
    height: 700px;
    padding: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__theEssentials-img {
    object-fit: cover;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.main__theEssentials-title {
    margin-top: 62px;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #56593D;
    margin-bottom: 11px;
    z-index: 2;
}

.main__theEssentials-text {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    max-width: 1093px;
    width: 100%;
    color: #56593D;
    z-index: 2;
}


/* Main End */